In [19]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib .dates as mpl_date
from datetime import datetime as dt
from pydataxm.pydatasimem import ReadSIMEM

In [20]:
p_bolsa_id = 'EC6945'
p_escasez_id = 'ae3f23'
fecha_inicial = '2023-04-01'
fecha_final = '2023-04-01'
simem = ReadSIMEM()

In [21]:
p_bolsa_df = simem.main(p_bolsa_id, fecha_final, fecha_final)

['https://www.simem.co/backend-files/api/PublicData?datasetId=EC6945&startdate=2023-04-01&enddate=2023-04-01']

In [22]:
display(p_bolsa_df.sort_values(by='FechaHora').head())

,CodigoVariable,FechaHora,CodigoDuracion,UnidadMedida,Version,Valor
0,PB_Int,2023-04-01 00:00:00,PT1H,COP/kWh,TX6,120.8208
119,PB_Nal,2023-04-01 00:00:00,PT1H,COP/kWh,TX5,158.3333
95,PB_Int,2023-04-01 00:00:00,PT1H,COP/kWh,TX5,153.8651
48,PB_Tie,2023-04-01 00:00:00,PT1H,COP/kWh,TX6,120.8208
24,PB_Nal,2023-04-01 00:00:00,PT1H,COP/kWh,TX6,125.3849

In [23]:
filtro_bolsa = 'PB_Nal'
p_bolsa_df_filtrado: pd.DataFrame = p_bolsa_df[p_bolsa_df['CodigoVariable']==filtro_bolsa].copy().sort_values('FechaHora').reset_index()

In [24]:
p_bolsa_df_filtrado['FechaHora'] = pd.to_datetime(p_bolsa_df_filtrado['FechaHora'], format='%Y-%m-%d %H:%M:%S')
p_bolsa_df_filtrado['Fecha'] = p_bolsa_df_filtrado['FechaHora'].dt.strftime('%Y-%m-%d')
p_bolsa_df_filtrado['Hour'] = p_bolsa_df_filtrado['FechaHora'].dt.strftime('%H:%M:%S')
p_bolsa_df_filtrado.rename(columns={'Valor' : 'PrecioBolsa'}, inplace=True)
p_bolsa_df_filtrado = p_bolsa_df_filtrado[['Fecha', 'Hour', 'PrecioBolsa']].groupby(['Fecha', 'Hour']).mean().reset_index()

In [25]:
p_bolsa_df_filtrado

         Fecha      Hour  PrecioBolsa
0   2023-04-01  00:00:00     141.8591
1   2023-04-01  01:00:00     125.3366
2   2023-04-01  02:00:00     125.3366
3   2023-04-01  03:00:00     125.3366
4   2023-04-01  04:00:00     125.3366
5   2023-04-01  05:00:00     125.3366
6   2023-04-01  06:00:00     125.3366
7   2023-04-01  07:00:00     125.8626
8   2023-04-01  08:00:00     142.3851
9   2023-04-01  09:00:00     158.3816
10  2023-04-01  10:00:00     158.3816
11  2023-04-01  11:00:00     163.3816
12  2023-04-01  12:00:00     168.3816
13  2023-04-01  13:00:00     163.3816
14  2023-04-01  14:00:00     158.3816
15  2023-04-01  15:00:00     158.3816
16  2023-04-01  16:00:00     158.3816
17  2023-04-01  17:00:00     158.3816
18  2023-04-01  18:00:00     165.8816
19  2023-04-01  19:00:00     173.3816
20  2023-04-01  20:00:00     173.3816
21  2023-04-01  21:00:00     165.8816
22  2023-04-01  22:00:00     158.3816
23  2023-04-01  23:00:00     158.3816

In [26]:
STOCK_OFFER = p_bolsa_df_filtrado['PrecioBolsa']
STOCK_OFFER = STOCK_OFFER.to_list()
STOCK_OFFER

[141.8591,
 125.3366,
 125.3366,
 125.3366,
 125.3366,
 125.3366,
 125.3366,
 125.8626,
 142.3851,
 158.3816,
 158.3816,
 163.3816,
 168.3816,
 163.3816,
 158.3816,
 158.3816,
 158.3816,
 158.3816,
 165.8816,
 173.3816,
 173.3816,
 165.8816,
 158.3816,
 158.3816]